[Desktop Entry]
Name=gshadowsocks
GenericName=Secure Proxy
Comment=A free GTK+ frontend of the shadowsocks client.
Exec=gssocks
Terminal=false
Type=Application
StartupNotify=true
Icon=gshadowsocks
Categories=GTK;Network;
Keywords=Network;Proxy;Secure;

